<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Prisha Garg">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>

</head>
<body onload="addYear()">
    <div class="container">
        <header class="header">
            <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
        </header>

        <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a class="cta" href="tickets.html">Buy Tickets</a>
        </nav>

        <main class="main">
            <h1>Checkout</h1>

            <form>
                <label>Name:</label>
                <input type="text" required>

                <label>Email:</label>
                <input type="email" required>

                <label>Ticket Quantity:</label>
                <input type="number" required>

                <button type="submit">Submit</button>
            </form>
        </main>

        <footer class="footer">
            <p>© MonoMuse. All rights reserved.</p>
            <p id="copyYear"></p>
        </footer>
    </div>
</body>